<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<!--這邊是 logging 寫入檔案的設定，console 相關則放在 application.yml-->
<!-- <configuration> 的 scan 設定為 true 使配置改變時可以重新載入配置文件 -->
<configuration scan="false">
  <!--讀取 application.yml 的屬性進來-->
  <springProperty scope="context" name="serviceName" source="server.name"/>
  <!-- 引用 Spring Boot 對 Logback 的預設配置 -->
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <!-- 設定輸出 file 時的相關設定 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <!-- 預設寫入檔案 -->
    <file>./log/${serviceName}.log</file>

    <!-- 設定寫入 Log File 的格式設定 -->
    <encoder>
      <charset>utf-8</charset>
      <Pattern><![CDATA[
        [%d{YYYY-MM-dd HH:mm:ssZ}] %level [%thread] %-120.120(%C:%line) %n%m%n
      ]]></Pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>

    <!-- 預設檔案達到上限寫入分檔 -->
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>500MB</maxFileSize>
    </triggeringPolicy>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>./log/%d{yyyy-MM}/${serviceName}-%d{MM-dd}-%i.log</fileNamePattern>
      <maxHistory>5</maxHistory> <!-- LOG 保留天數 -->
      <maxFileSize>500MB</maxFileSize>  <!-- 單檔最大容量 -->
      <totalSizeCap>10GB</totalSizeCap> <!-- 總容量 -->
      <!-- 自動清除多的 LOG，平常寫入時也會清除 -->
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
  </appender>

  <!-- 透過 AsyncAppender 使 Log 可以以非同步的方式輸出，以增加寫入效能 -->
  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <!-- 修改 queue 的大小，這個會影響非同步寫入時的效能 -->
    <queueSize>512</queueSize>
    <!-- 載入名字為 FILE 的 <appender> -->
    <appender-ref ref="FILE"/>
  </appender>

  <!-- 配置載入位置 -->
  <root>
    <appender-ref ref="ASYNC"/>
  </root>
</configuration>